* {
    font-family: 'Dosis', sans-serif;
}

body {
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: #171717;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    height: 120px;
    background-color: #171717;
}

#Logo {
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-top: 30px;
}


#Welcome {
    color: #F5F5F5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url("fondo.png");
}

.title1{
    font-style: normal;
    font-size: 30px;
    line-height: 81px;
    margin: 0%;
    padding-top: 20px;
}

#description {
    margin: 0px 70px 25px 70px;
    font-style: light;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.49;
}

#buttonContinue{
    margin: 10px;
    padding: 0px 18px 0px 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    color: #171717;
    border: none;
    background-color: #01FE88;
    border-radius: 30px;
}

#buttonContinue:hover {
    color: #D9D9D9;
    background-color: #02351D;

}


main {
    display: none;
    color: #F5F5F5;
    text-align: center;
    background-size: 100%;
    background-image: url("fondo.png");
    
}

.title2{
    font-style: normal;
    font-size: 30px;
    line-height: 81px;
    margin: 0%;
    padding-top: 20px;
}

article textarea {
    width: 35%;
    height: 30px;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    border-radius: 20px;
    resize: none;
}

article input {
    width: 9%;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
}

article label {
    font-size: 16px;
    font-weight:600;
    line-height: 40px;
}

button:hover {
    color: #D9D9D9;
    background-color: #02351D;

}

.buttonCipher{
    margin: 10px;
    padding: 0px 18px 0px 18px;
    font-style: normal;
    font-weight:bold;
    font-size: 18px;
    line-height: 50px;
    color: #171717;
    border: none;
    background-color: #01FE88;
    border-radius: 30px;
}

#result {
    width: 35%;
    height: 30px;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    color: #D9D9D9;
    border-radius: 20px;
    border-color: #01FE88;
    border-width: 3px;
    background-color: #171717;
}

#thanks {

    padding-bottom: 30px;
    font-weight:500;
    font-size: 20px;
    line-height: 1.49;
    margin-bottom: 0%;
}

.footerText{
    margin: 0%;
}

footer {
    margin-top: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    background-color: #171717;
}